.transitioner {
	-webkit-transform: scale(2);
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 0.3s;
}

.scaleFadeIn {
	-webkit-transform: scale(1);
	opacity: 1;
}

.fastAnimate {
	
}

.transitioner2 {
	-webkit-transform: scale(0);
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 1s, 1s;
}

.zoomFadeIn {
	-webkit-transform: scale(1);
	opacity: 1;
}

.enyo-button-cherry {
	color: white;
	background-color: #5f0712;
	width: 95%;
}

.enyo-button-option {
	color: white;
	background-color: #5f0712;
	width: 90%;
}

/* INICIO Estilo para botones de menu principal */
.menuButton {
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	vertical-align: top;
	padding: 4px 4px;
	min-width: 14px;
	min-height: 20px;
	-webkit-border-image:
		url(../../SISOPREGA_WEB_LIB/scripts/enyo/framework/build/palm/themes/Onyx/images/button-up.png)
		4 4 4 4 stretch stretch;
	border-width: 4px;
	border-radius: 5px;
	margin: 3px;
	color: #292929;
	/*background-color: #5f0712;*/
	background-repeat: no-repeat;
	background-position: center center;
}

.menuButton.enyo-button-down,.menuButton.enyo-button-depressed {
	-webkit-border-image:
		url(../../SISOPREGA_WEB_LIB/scripts/enyo/framework/build/palm/themes/Onyx/images/button-down.png)
		4 4 4 4 stretch stretch;
}

@media ( -webkit-min-device-pixel-ratio :1.5) {
	.menuButton {
		-webkit-border-image:
			url(../../SISOPREGA_WEB_LIB/scripts/enyo/framework/build/palm/themes/Onyx/images-1.5/button-up.png)
			6 6 6 6 stretch stretch;
	}
	.menuButton.enyo-button-down,.enyo-button.enyo-button-depressed {
		-webkit-border-image:
			url(../../SISOPREGA_WEB_LIB/scripts/enyo/framework/build/palm/themes/Onyx/images-1.5/button-down.png)
			6 6 6 6 stretch stretch;
	}
}

.enyo-button.enyo-button-disabled {
	opacity: 0.4;
	/*color: rgba(255,254,255,0.4);*/
}

.enyo-button-natural-width {
	
}

.enyo-button-standard-width {
	min-width: 120px;
}

.enyo-button img {
	padding: 0px 3px;
}

/* light button (often cancel) */
.enyo-button-light {
	background-color: rgba(255, 255, 255, 0.8);
	color: #292929;
}

/* dark button */
.enyo-button-dark {
	color: white;
	background-color: rgba(23, 23, 23, 0.5);
}

/* affirmative (green) */
.enyo-button-affirmative {
	color: white;
	background-color: #2aa100;
}

/* negative (red) */
.enyo-button-negative {
	color: white;
	background-color: #be0003;
}

/* blue */
.enyo-button-blue {
	color: white;
	background-color: #2071bb;
}

/* gray */
.enyo-button-gray {
	color: white;
	background-color: #4b4b4b;
}

/* FIN Estilo para botones de menu principal */
.enyo-button-optiondark {
	color: white;
	background-color: rgba(23, 23, 23, 0.5);
	width: 95%;
}

.enyo-button-cat {
	color: white;
	background-color: #5f0712;
	width: 90%;
}

.fadedOut {
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
}

.fadeIn {
	opacity: 1;
}

.scrimFadeIn {
	opacity: 0.75;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
}

.transitioner3 {
	-webkit-transform: scale(0);
	-webkit-transform-origin: 50% 0;
	-webkit-transition-duration: 0.3s;
}

.scaleIn {
	-webkit-transform: scale(1);
}

.selectCell {
	background-image: url(../../SISOPREGA_WEB_LIB/images/flat-shadow.png);
	background-size: cover;
	font-style: normal;
}

.customBYcell {
	box-sizing: border-box;
	border-color: black;
	border-width: 1px;
	border-style: dashed;
	align: left;
}

.customBYcellZone {
	box-sizing: border-box;
	border-color: black;
	border-width: 1px;
	border-style: dashed;
	align: left;
	font-size: 20px;
	background-color: #CCC
}

.customBYCellDesc {
	box-sizing: border-box;
	border-color: black;
	border-width: 1px;
	border-style: dashed;
	align: left;
	font-size: 17px;
	background-color: #CCC
}

.byCell {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	/*font-weight: bold;*/
	box-sizing: border-box;
}

.woodBG {
	background-image: url(../../SISOPREGA_WEB_LIB/images/bg-body.png);
	background-repeat: repeat no-repeat;
	background-color: #1E1C1B;
}

.buttonsBG {
	background-color: #DABD8B;
}

.listBG {
	background-color: #DABD8B;
}

.formBG {
	background-color: #DABD8B;
}

.mapBG {
	font-size: 13px;
}

.loginBG {
	background-color: #1E1C1B;
	background-image: url(../../SISOPREGA_WEB_LIB/images/bg-body.png);
	background-repeat: repeat no-repeat;
}

.loginHeader {
	
}

.headerMain {
	
}

.listFirst {
	font-style: text-overflow:   ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #5F0712;
}

.listSecond {
	font-size: 15px;
	color: #1E1C1B;
}

.headerLbl {
	font-size: 20px;
	text-align: center;
	vertical-align: central;
}

.headerLblRec {
	font-size: 0.55em;
	text-align: center;
	vertical-align: central;
}

.listRow {
	font-size: 13px;
	height: 40px;
}

.selectedListRow {
	font-size: 13px;
	background-color: brown; //
	color: #DABD8B;
	color: #EBCE9C;
	height: 40px;
}