.transitioner {
	-webkit-transform: scale(2);
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 0.3s;
}

.scaleFadeIn {
	-webkit-transform: scale(1);
	opacity: 1;
}

.fastAnimate {
}


.transitioner2 {
	-webkit-transform: scale(0);
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 1s, 1s;
}

.zoomFadeIn {
	-webkit-transform: scale(1);
	opacity: 1;
}

.enyo-button-cherry {
	color: white;
	background-color: #5f0712;
	width:95%;
}
.enyo-button-option {
	color: white;
	background-color: #5f0712;
	width:90%;
}
.enyo-button-optiondark {
	color: white;
	background-color: rgba(23,23,23,0.5);
	width:95%;
}
.enyo-button-cat {
	color: white;
	background-color: #5f0712;
	width:90%;
}
.fadedOut {
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
}

.fadeIn {
	opacity: 1;
}

.scrimFadeIn {
	opacity: 0.75;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
}

.transitioner3 {
	-webkit-transform: scale(0);
	-webkit-transform-origin: 50% 0;
	-webkit-transition-duration: 0.3s;
}

.scaleIn {
	-webkit-transform: scale(1);
}
.selectCell{
	background-image: url(../images/flat-shadow.png);
	background-size:cover;
	font-style:normal;
}
.customBYcell{
	box-sizing: border-box;																								
	border-color:black;
	border-width: 1px;
	border-style: dashed;
	align:left;
}
.customBYcellZone{
	box-sizing: border-box;																								
	border-color:black;
	border-width: 1px;
	border-style: dashed;
	align:left;
	font-size:20px;
	background-color:#CCC	
}
.customBYCellDesc{
	box-sizing: border-box;																								
	border-color:black;
	border-width: 1px;
	border-style: dashed;
	align:left;
	font-size:17px;
	background-color:#CCC	
}
.byCell{
	border-color:black;
	border-width: 1px;
	border-style: dashed;
	font-weight: bold;
	box-sizing: border-box;	
}
.woodBG{
	background-image: url(../images/bg-body.png);
	background-repeat: repeat no-repeat;
	background-color:#1E1C1B;
}
.buttonsBG{
/*	background-image: url(../images/paper.jpg);
	background-size:cover;
*/
	background-color:#DABD8B;
}
.listBG{
/*	background-image: url(../images/paper.jpg);
	background-size:cover;
*/
	background-color:#DABD8B;
}
.formBG{
/*	background-image: url(../images/paper.jpg);
	background-size:cover;
*/
	background-color:#DABD8B;
}
.mapBG{	
	font-size:13px;
/*	background-image: url(../images/paper.jpg);
	background-size:cover;
*/
		
}
.loginBG{	
	background-color:#1E1C1B; 
	background-image: url(../images/bg-body.png);
	background-repeat: repeat no-repeat;	
}
.loginHeader{
}
.headerMain{		
}
.listFirst{
	font-style:
	text-overflow: ellipsis; 
	overflow: hidden;
	white-space: nowrap;
	color:#5F0712;
}
.listSecond{
	font-size: 0.85em;
	color:#1E1C1B;
}
.headerLbl{
	font-size: 20px;	
	text-align:center;
	vertical-align:central;
}
.headerLblRec{
	font-size: 0.55em;	
	text-align:center;
	vertical-align:central;
}