#collected-container {
	height: 600px;
	border: thin solid black;
	overflow: hidden;
	display: inline-block;
	margin-right:2px;
} 
#collected-section {
	height: 460px;
	overflow: auto;
}
#collected-summary {
	height: 140px;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
	border-top: thin dashed black;
}

#collected-summary p{
	margin-left: 15px;
}

#collected-summary button{
	margin-left:15px;
}

#paid-container {
	height: 600px;
	border: thin solid black;
	overflow: hidden;
	display: inline-block;
	margin-right:2px;
} 
#paid-section {
	height: 460px;
	overflow: auto;
}
#paid-summary {
	height: 140px;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
	border-top: thin dashed black;
}

#paid-summary p{
	margin-left: 15px;
}

#paid-summary button{
	margin-left:15px;
}

#balance-section{
	width:256px;
	height: 296px;
	overflow: auto;
	margin-bottom: 2px;
}

.balance-summary {
	margin-bottom:5px;
	border-bottom: thin dashed gray;
}

#assets-section{
	width:256px;
	height: 296px;
	overflow: auto;
	margin-bottom: 2px;
}

#right-pannel {
	height: 600px;
	border: thin solid black;
	overflow: hidden;
	display: inline-block;
}

#collected-content {
	font-family: monospace;
}

.collected-item {
	cursor: pointer;
	display: inline-block;
	margin-top:2px;
}

.collected-item :hover {
	cursor: pointer;
	display: inline-block;
	margin-top:2px;
	background-color: silver;
	border-bottom: 1px dotted gray;
}