#app-log-section {
	clear:both;
	height: 600px;
	border: thin solid black;
	overflow-y: overlay;
	float: left;
	margin-right:5px;
}

#payable-section {
	height:195px;
	border:thin solid black;
	display: inline-block;
	overflow: hidden;
}

#receivable-section {
	height:195px;
	border:thin solid black;
	display: inline-block;
	overflow: hidden;
	
}

#business-banner {
	width: 524px;
	height: 400px;
	background-image: url('../images/Businessman-Working.jpg');
	overflow: auto;
	margin-bottom: 5px;
}

#water-mark {
	background-color: red;
	width: 450px;
	height: 150px;
	margin-top: 250px;
	float: right;
	filter: alpha(opacity =   80);
	opacity: 0.8;
	color: white;
	padding-left: 15px;
	border-radius: 10px;
}

#app-log-content {
	font-family: monospace;
}

.app-log-item {
	cursor: pointer;
	display: inline-block;
	margin-top:2px;
}

.app-log-item :hover {
	cursor: pointer;
	display: inline-block;
	margin-top:2px;
	background-color: silver;
	border-bottom: 1px dotted gray;
}