@CHARSET "UTF-8";

#menu {
	background: #373737;
	width: 90%;
	margin: 15px;
}

#menu #menu-header {
	color: white;
	font-size: small;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10%;
	padding-right: 10%;
}

#menu #logout {
	float: right;
}

#menu #menu-options {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

#nav {
	margin-left: 10%;
}

#nav a img {
	vertical-align: middle;
	margin-right: 5px;
}

#nav ul ul {
	display: none;
}

#nav ul li:hover>ul {
	display: block;
	z-index: 99;
}

#nav ul {
	background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}

#nav ul:after {
	content: "";
	clear: both;
	display: block;
}

#nav ul li {
	float: left;
}

#nav ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}

#nav ul li:hover a {
	color: #fff;
}

#nav ul li a {
	display: block;
	padding: 10px 24px;
	color: #757575;
	text-decoration: none;
}

#nav ul ul {
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}

#nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

#nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}

#nav ul ul li a:hover {
	background: #4b545f;
}

#nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}

#status-bar {
	margin: 15px;
	width: 90%;
	height: 40px;
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	font-size: small;
	color: white;
}

#status-bar-title {
	float: left;
	height: 40px;
	margin-left: 15px;
	width: 215px;
	border-right: thin solid white;
}

#status-bar-content {
	margin-left: 235px;
	height: 40px;
}

#content {
	background: white;
	margin: 15px;
	height: 543px;
	padding: 10px 10px 10px 10px;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	overflow: scroll;
	width: 88%;
}

#content #penMapWrapper {
	display: none;
}

#content #loading {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("ajax-loader.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

#footer {
	margin-left: 0px;
	margin-top: 10px;
	background-color: black;
	color: #DABD8B;
	width: 100%;
	height: 30px;
	padding-top: 5px;
	padding-left: 5px;
	border-top: thin solid white;
}

.dataForm{
	width:60%;
}

.dataForm h1 {
	font-size: larger;
	margin: 20px;
	font-weight: bold;
}

.dataForm label {
	width: 200px;
}

.blueFormSubmit {
	-moz-box-shadow: inset 0px 0px 9px 1px #bbdaf7;
	-webkit-box-shadow: inset 0px 0px 9px 1px #bbdaf7;
	box-shadow: inset 0px 0px 9px 1px #bbdaf7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff
		), color-stop(1, #378de5) );
	background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',
		endColorstr='#378de5' );
	background-color: #79bbff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: normal;
	padding: 9px 59px;
	text-decoration: none;
	text-shadow: 1px 2px 19px #528ecc;
	margin-left: 205px;
}

.blueFormSubmit:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff) );
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',
		endColorstr='#79bbff' );
	background-color: #378de5;
}

.blueFormSubmit:active {
	position: relative;
	top: 1px;
}