.divider{
	min-width: 3px;
	border-width: 0px;
	background: url(divider.png) left top repeat-x;
	background-size: 6px 4px;
	margin-left: 6px;
	width:100%;
	height:5px;
	margin-bottom:5px;
}
.logOutBG{
	cursor:pointer;	
}
.bymBG{
	background-color: #d8d8d8;
}
.rancherProfileBG{
	cursor:pointer;	
	background-image: url(../images/data.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
}
.mainBG{
	background-image: url(../images/background.png);
	background-size:100% 100%;	
	background-repeat: no-repeat;
/*	background-color:#DABD8B;*/
}
.introMiddleBG{
	margin-top:2%;
	background-image: url(../images/intro.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
}
.reportFeedBG{
	cursor:pointer;	
	background-image: url(../images/feed.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
}
.reportMapBYBG{
	cursor:pointer;
	background-image: url(../images/mapadecorrales.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
}
.reportInspectionBG{
	cursor:pointer;	
	background-image: url(../images/inspection.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
}
.reportHistoricalBG{
	cursor:pointer;	
	background-image: url(../images/historical.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
}
.reportsBG{
	background-image: url(../images/reportBack.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}
.headerMain{		
}
.fittable-sample-box {
	border: 2px solid lightblue;
	padding: 4px;
}
.fittable-sample-b {
	background-color: #F1FFF1;
}
.fittable-sample-mtb {
	margin-top: 3px;
	margin-bottom: 3px;
}
.fittable-sample-mlr {
	margin-left: 6px;
	margin-right: 6px;
}
.fittable-sample-o {
	border-color: orange;
}
.fittable-sample-height {
	height: 140px;
}

.fittable-sample-fitting-color {
	background: #B7BFC4;
}

.fittable-sample-shadow {
	box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
}

.fittable-sample-shadow2 {
	box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}

.fittable-sample-shadow3 {
	box-shadow: 0 -6px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 -6px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 -6px 6px rgba(0,0,0,0.3);
}

.fittable-sample-shadow4 {
	box-shadow: 6px 0px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 6px 0px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 6px 0px 6px rgba(0,0,0,0.3);
}

.fittable-sample-boxable {
	margin: 0.5em;
	padding: 1em;
	border: 0.2em solid beige;
}

.fittable-sample-boxable > * {
	border: 0.1em dotted orange;
	padding: 0.5em;
}

.fittable-sample-test {
	border-width: 0.2em;
	border-color: red;
}

.fittable-sample-small-test {
	border-width: 0.2em;
	border-color: red;
	height: 150px;
}

.fittable-sample-section {
	padding: 30px 10px 10px;
	font-weight: bold;
}